# Rename this file as '.env' and change the paths according to your system
export YAFFA=/path/to/yaffa/
export CATS=/path/to/DLM
export LD_LIBRARY_PATH=/install/cats/and/put/here/the/command/that/you/are/suggested/to/put/in/.bashrc