**/yaffa.egg-info/*
*/__pycache__/*
*cpython*
.env
scratch/**

build/**
.vscode

# Aux files root
*_ACLiC_*
*.d
*.so

# Root files that are not supposed to be tracked by git. e.g. large datasets (> 50 M)
*.local.root

# Root files
tests/source.root
tests/source_3b.root
tests/source_vs_mT.root
tests/source_cecapaper.root
tests/source_cecapaper_3b.root

# python
*.pyc
