yaffa.egg-info/*
*/__pycache__/*
*cpython*
.env
scratch/**

build/**
.vscode

# Aux files root
*_ACLiC_*
*.d
*.so
*_ACLiC_dict_rdict.pcm

# Root files
tests/source.root
tests/source_3b.root
tests/source_vs_mT.root
tests/source_cecapaper.root

# python
*.pyc
